/* Reset, variables, mixins */
@import 'variables.less';


body {
    padding: 15px;
    color: @color-base;

    .counter {
        font-weight: bold;
        //color: red;
    }
}

.footer {
    padding-top: 40px;
}

.messages {
    display: flex;
    align-items: center;
}

.socket-log {
    display: inline-block;
    margin-left: 10px;
    height: 150px;
    overflow-y: scroll;
}

//.dn {
//    display: none;
//}